.container{
    width: 90%; 
    max-width: 1200px;
    height: auto;
    padding: 10px;
    margin: 1in auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 20px 20px 1px rgba(0, 13, 255, 0.1); 
}



.galeria-plugins, .galeria-daws{
    display: flex;             /* alinea las imagenes horizontalmente */
    align-items: center;       /* alinea todas al centro verticalmente */
    justify-content: flex-start;   /* todas a la izquierda */
    gap: 20px;  

}

.galeria-plugins img, .galeria-daws img {
    width: 130px;              /* ancho fijo para todas */
    height: 120x; 
    object-fit: cover;            /* alto fijo para todas */
    object-fit: 6px;       /* escala la imagen sin deformarla ni recortarla */
}

.footer-centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

body {
    background-image: url(https://i.redd.it/2un6y8ah5ib11.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}